<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/274bb4f9-7587-4ca9-8d70-323a0e5de488/resourceGroups/KDHack/providers/Microsoft.ApiManagement/service/KDHackApiapi/apis/KDHackApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/274bb4f9-7587-4ca9-8d70-323a0e5de488/resourcegroups/KDHack/providers/Microsoft.Web/sites/KDHackApi20211002024226</ResourceId>
    <ResourceGroup>KDHack</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://kdhackapi20211002024226.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>0a2b0837-6bc7-4bf8-9ced-c449e8eedb42</ProjectGuid>
    <PublishUrl>https://kdhackapi20211002024226.scm.azurewebsites.net/</PublishUrl>
    <UserName>$KDHackApi20211002024226</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>